<div class="row mt-3 justify-content-center" id="playrow">
    <div class="col-1 pt-2 m-2" id="stats-area">
        <h5 class="headerdecoration">Stats</h3>
            <span id="hpcolor" class="green pl-2">HP:&nbsp;
                <%= hp %></span><br>
            <span class="gold pl-2 pr-2"> Atk:&nbsp;
                <%= atk %></span><br>
            <span class="blue pl-2 pr-2"> Def:&nbsp;
                <%= def %></span><br>
            <span class="purple pl-2 pr-2"> Magic:&nbsp;
                <%= mag %></span><br>
            <span class="orange pl-2 pr-2">LucK:&nbsp;
                <%= luck %></span><br>

    </div>
    <div class="col-1 pt-2 m-2" id="art-area">
        <h5 class="headerdecoration">Artifact</h5>
        <span class="red pl-2"><img id="artifactimage" src="images/artifacts/<%=artifact%>.png">
            <%=artifact%></span>
    </div>
    <div class="col-2 mt-3 mb-3 mr-2" id="player-box">
        <div class="row">
            <div class="ml-5 pl-4 mt-1 pt-3 pb-1">
                <img id="avatar" class="img-fluid" src=<%=playerAvatar %> alt="image not found">
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="pr-2 charactertext1">
                <%= playerName %>
            </p>
            <p class="charactertext2">
                <%= race %>/
                <%= job %>
            </p>
        </div>
    </div>
    <div class="col-2 mt-3 mb-3" id="monster-area">
        <div class="row">
            <div class="ml-2 pl-2 mt-1 pt-1 pb-1">
                <img id="monsterimage" src="images/monsters/<%= monster %>.png" alt="monster image not found">
            </div>
        </div>
        <p class="pl-5 pt-1 monstertext">
            <%= monster %>
        </p>
    </div>