<div id="button-area">
    <div class="row justify-content-center">
        <h4 class="headerdecoration pt-3">Choose Your Action</h4>
    </div>
    <br>
    <div id="button-box" class="row justify-content-center">
        <button class="btn btn-danger mr-2 buttondecoration" id="attackButton">
            <img class="buttonicon" src="images/button/attack.png"><br>
            <%= attack %>
        </button>
        <button class="btn btn-primary mr-2 buttondecoration" id="magicButton">
            <img class="buttonicon" src="images/button/magic.png"><br>
            <%= magic %>
        </button>
        <button class="btn btn-info buttondecoration" id="trickButton">
            <img class="buttonicon" src="images/button/trick.png"><br>
            <%= trick %>
        </button>
    </div>
</div> <br>

<div class="row justify-content-center" id="artifactArea">
    <button class="btn btn-success buttondecoration" id="artifactButton">Use Your
        <%= artifact %><img id="artifactbutton" src="images/artifacts/<%=artifact%>.png"></button>
</div>


<form id="formArea" class="d-none" action="/<%= title %>" method="POST">
    <div class="form-group" id="charInputs">
        <input type="hidden" id="gameNum" name="gameNum" value="<%= gameNum %>">
        <input type="hidden" id="playerName" name="playerName" value="<%= playerName %>">
        <input type="hidden" id="race" name="race" value="<%= race %>">
        <input type="hidden" id="job" name="job" value="<%= job %>">
        <input type="hidden" id="gender" name="gender" value="<%= gender %>">
        <input type="hidden" id="ID" name="ID" value="<%= ID %>">
        <input type="hidden" id="hp" name="hp" value="<%= hp %>">
        <input type="hidden" id="atk" name="atk" value="<%= atk %>">
        <input type="hidden" id="def" name="def" value="<%= def %>">
        <input type="hidden" id="luck" name="luck" value="<%= luck %>">
        <input type="hidden" id="mag" name="mag" value="<%= mag %>">
        <input type="hidden" id="artifact" name="artifact" value="<%= artifact %>">
        <div class="row justify-content-center">
            <button class="btn btn-success" type="submit">Proceed</button>
        </div>
    </div>
</form>
<br>