<% include partials/head %>
<main>
        <p>Delete <%= playerName %> the <%= race %> <%= job %></p>
<form action= "/delete" method="POST">
    <input type="hidden" id="delID" name="delid" value="<%= id %>">
    <input type="hidden" id="delCharName" name="delCharName" value="<%= playerName %>">
    <button type="submit">Delete Post</button>
</form>

</main>
<% include partials/foot %>