<% include partials/head %>
<p>Load Game of
    <%= title %>
</p>
<main>
    <% for(var i = 0; i< characters.length; i++){%>
    <div class="row">
        <div class="p-2">
            <%- characters[i].playerName %>
        </div>
        <div class="p-2">
            <%- characters[i].race %>
        </div>
        <div class="p-2">
            <%- characters[i].class %>
        </div>
        
        <div class="p-2">
            <button  class="btn btn-success">
                <a href="/loadgame/<%=characters[i].playerName %>">Load</a>
            </button>
        </div>
        <div class="p-2">
            <button class="btn btn-danger">
                <a href="/delete/<%=characters[i].playerName %>">Delete!</a>
            </button>
        </div>
    </div>
    <%}%>

</main>


<% include partials/foot %>