<% include partials/head %>

<main>
    <% for(var i = 0; i< characters.length; i++){%>
    <div class="row" id="load-area">
        <div class="col-2">
            <p class="p-2">
                  Game Number: <%- characters[i].gameNum %>
            </p>
        </div>
        <div class="col-1 d-flex justify-content-end">
                <img id="playerthumb" class="img-thumbnail" src="images/playericons/<%= characters[i].race %><%= characters[i].job %><%= characters[i].gender %>.png" alt="no image">
            </div>
            <div class="col-1">
                <p class="p-2 white">
            <%- characters[i].playerName %>
        </p>
    </div>

    <div class="col">
        <p class="p-2">
            <%- characters[i].race %>  / 
            <%- characters[i].job %>
        </p>
    </div>
    <div class="col">
            <p class="p-2">
                    <%- characters[i].hp %>HP
            </p>
        </div>
    <div class="col">
        <p class="p-2">
                <%- characters[i].stage %>
        </p>
    </div>
           <div class="col-2 align-self-right">
                <a class="btn btn-success mr-3" href="/<%= characters[i].stage %>?playerName=<%=characters[i].playerName %>">Load!</a>
                <a class="btn btn-danger" href="/delete/<%=characters[i].playerName %>">Delete!</a>
            
        </div>

    </div>
    <%}%>

</main>


<% include partials/foot %>