<% include partials/head %>
<%= playerName %>
<%= race %>
<%= job %>
<%= hp %>
HP:
<%= hp %>
Atk:
<input id="playAtk" value="<%= atk %>" type="hidden"><%= atk %>
Def:
<%= def %>
LucK:
<%= luck %>
Magic:
<%= mag %>
Artifact:
<%=artifact%>

<br>
<p>An Evil Skeleton stands before you!</p>
<h5>Choose your Action</h5> <br>
<button class="btn" id="attackButton">
      Attack With a Mighty Blow!
</button>

<!-- <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="r1chooser" id="r1-run" value="spell">
    <label class="form-check-label" for="r1-run">
        Use Your Magic to Freeze His Bones
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="r1chooser" id="r1-trick" value="trick">
    <label class="form-check-label" for="r1-trick">
        Tell Him a Joke
    </label>
</div>
</div> -->
 
<div id="resultArea">

</div>


<form action="/room1" method="POST">
    <div class="form-group" id="charInputs">
        <input type="hidden" id="gameNum" name="gameNum" value="<%= gameNum %>">
        <input type="hidden" id="playerName" name="playerName" value="<%= playerName %>">
        <input type="hidden" id="race" name="race" value="<%= race %>">
        <input type="hidden" id="job" name="job" value="<%= job %>">
        <input type="hidden" id="ID" name="ID" value="<%= ID %>">
        <input type="hidden" id="hp" name="hp" value="<%= hp %>">
        <input type="hidden" id="atk" name="atk" value="<%= atk %>">
        <input type="hidden" id="def" name="def" value="<%= def %>">
        <input type="hidden" id="luck" name="luck" value="<%= luck %>">
        <input type="hidden" id="mag" name="mag" value="<%= mag %>">
        <input type="hidden" id="artifact" name="artifact" value="<%= artifact %>">
    </div>
        <div class="form-group">
        <button class="btn" type="submit">Proceed</button>
    </div>

</form>


<% include partials/foot %>