<% include partials/head %>
<%= playerName %>
<%= race %>
<%= job %> 
<%= hp %>
HP: <%= hp %>
Atk: <%= atk %>
Def: <%= def %>
LucK: <%= luck %>
Magic: <%= mag %>
Artifact: <%= artifact %>

<br>
<p>You Are being attacked by a pack of wild demon dogs!</p>
<form action="/room3" method="POST">
    <div class="form-group">
            <label for="class-chooser">Choose your Action</label> <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="r3chooser" id="r3-attack" value="attack"
                    checked>
                <label class="form-check-label" for="r3-attack">
                    Attack Them
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="r3chooser" id="r3-run" value="spell">
                <label class="form-check-label" for="r3-run">
                    Cast a Spell of Illusion
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="r3chooser" id="r3-trick" value="trick">
                <label class="form-check-label" for="r3-trick">
                    Look Inside Your Pack
                </label>
            </div>
        </div> 
        <div class="form-group">
            <input type="hidden" id="gameNum" name="gameNum" value = "<%= gameNum %>">
            <input type="hidden" id="playerName" name="playerName" value = "<%= playerName %>">
            <input type="hidden" id="race" name="race" value = "<%= race %>">
            <input type="hidden" id="job" name="job" value = "<%= job %>">
            <input type="hidden" id="ID" name="ID" value = "<%= ID %>">
            <input type="hidden" id="hp" name="hp" value = "<%= hp %>">
            <input type="hidden" id="atk" name="atk" value = "<%= atk %>">
            <input type="hidden" id="def" name="def" value = "<%= def %>">
            <input type="hidden" id="luck" name="luck" value = "<%= luck %>">
            <input type="hidden" id="artifact" name="artifact" value = "<%= artifact %>">
            <input type="hidden" id="mag" name="mag" value = "<%= mag %>">
            <button class="btn" type="submit">Choose Wisely</button>
            <button class="btn" type="button">Use Your <%= artifact %></button>
        </div>

</form>


<% include partials/foot %>