<% include partials/head %>
<input id="monster" value="<%= monster %>" type="hidden">
<input id="action" value="<%= action %>" type="hidden">
<input id="actionDesc" value="<%= actionDesc %>" type="hidden">
<input id="fail" value="<%= fail %>" type="hidden">
<input id="playAtk" value="<%= atk %>" type="hidden">
<input id="playDef" value="<%= def %>" type="hidden">
<input id="playLuck" value="<%= luck %>" type="hidden">
<input id="playMag" value="<%= mag %>" type="hidden">
<input id="playArt" value="<%= artifact %>" type="hidden">
<input id="playAttack" value="<%= attack %>" type="hidden">
<input id="playMagic" value="<%= magic %>" type="hidden">
<input id="playTrick" value="<%= trick %>" type="hidden">


<%= playerName %>
<%= race %>
<%= job %>
HP:
<%= hp %>
Atk:
<%= atk %>
Def:
<%= def %>
LucK:
<%= luck %>
Magic:
<%= mag %>
Artifact:
<%=artifact%>
<br>

<div id="action-area">
    <p>An Evil
        <%= monster %> stands before you!</p>
    <h5>Choose your Action</h5>
    <br>

    <button class="btn" id="attackButton">
        <%= attack %>
    </button>
    <button class="btn" id="magicButton">
        <%= magic %>
    </button>
    <button class="btn" id="trickButton">
        <%= trick %>
    </button>
</div>

<div id="resultArea">

</div>



<form id="formArea" class="d-none" action="/room1" method="POST">
    <div class="form-group" id="charInputs">
        <input type="hidden" id="gameNum" name="gameNum" value="<%= gameNum %>">
        <input type="hidden" id="playerName" name="playerName" value="<%= playerName %>">
        <input type="hidden" id="race" name="race" value="<%= race %>">
        <input type="hidden" id="job" name="job" value="<%= job %>">
        <input type="hidden" id="ID" name="ID" value="<%= ID %>">
        <input type="hidden" id="hp" name="hp" value="<%= hp %>">
        <input type="hidden" id="atk" name="atk" value="<%= atk %>">
        <input type="hidden" id="def" name="def" value="<%= def %>">
        <input type="hidden" id="luck" name="luck" value="<%= luck %>">
        <input type="hidden" id="mag" name="mag" value="<%= mag %>">
        <input type="hidden" id="artifact" name="artifact" value="<%= artifact %>">
    </div>
    <div class="form-group">
        <button class="btn" type="submit">Proceed</button>
    </div>

</form>


<% include partials/foot %>